body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}
.profile-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-name {
    margin-top: 10px; /* Ajusta este valor según necesites */
}
.profile-image {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    border-radius: 50%;
}
.user-info {
    text-align: left;
    margin-left: 20px; /* Ajusta el espacio entre la imagen y el texto */
}
.user-info p {
    margin: 5px 0;
}
